.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #5901e7;
}

.header__wrapper {
  z-index: 50;
  padding: 20px 0;
  max-width: 1820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-logo {
  width: 50px;
  height: 50px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list-item {
  margin-right: 15px;
  position: relative;
}

.nav__list-item:last-child {
  margin: 0;
}

.nav__list-item-link {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.nav__list-item-link:hover,
.nav__list-item-link :focus,
.nav__list-item-link :active {
  color: rgba(255, 255, 255, 0.8);
}

.sub-menu {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  display: none;
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #000;
  padding: 15px;
  min-width: 200px;
}

.sub-menu__item {
  margin-bottom: 15px;
}

.sub-menu__item:last-child {
  margin: 0;
}

.sub-menu__item-link {
  color: white;
  font-weight: bold;
}

.sub-menu__item-link:hover,
.sub-menu__item-link :focus,
.sub-menu__item-link :active {
  color: rgba(255, 255, 255, 0.8);
}

.sub-menu__active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  display: block;
  pointer-events: all;
}

.page {
  padding: 90px 0 30px 0;
}

.page__section {
  padding: 30px;
}

.page__section-1 {
  background: #a81a1a;
}

.page__section-2 {
  background: #1a17cf;
}

.page__section-3 {
  background: #1dcc0f;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 25px;
  font-size: 16px;
}

.subtitle {
  margin-bottom: 20px;
  font-size: 30px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "";
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 58px;
  min-height: 100%;
}

.header {
  min-height: 58px;
}
