.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background: rgb(89, 1, 231);

    &__wrapper {
        z-index: 60;
        padding:  15px;
        max-width: 1820px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.custom-logo {
    width: 50px;
    height: 50px;
}

.nav {
    display: flex;
    z-index: 70;
    // .nav__list

    &__list {
        display: flex;
    }

    // .nav__list-item

    &__list-item {
        margin-right: 15px;
        position: relative;
        
    }

    // .nav__list-item-link

    &__list-item-link {
        color: white;
        font-weight: bold;
        font-size: 18px;
        &:hover,
        :focus,
        :active {
            color: rgba($color: #fff, $alpha: 0.8);
        }
    }
}


